<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">


    <!--    配置service-->
    <bean id="accountService" class="com.myj.service.impl.AccountServiceImpl">
        <property name="accountDao" ref="accountDao"></property>
    </bean>
    <!--配置dao-->
    <bean id="accountDao" class="com.myj.dao.impl.AccountDaoImpl">
        <property name="runner" ref="runner"></property>
        <property name="connectionUtils" ref="connectionUtils"></property>
    </bean>

    <!--    配置QueryRunner对象-->
    <bean id="runner" class="org.apache.commons.dbutils.QueryRunner"
          scope="prototype">
        <!--        注入数据源-->
        <!--        <constructor-arg name="ds" ref="dataSource"></constructor-arg>-->
        <!--        此处不再需要这个,因为有了connectionUtils-->
    </bean>

    <!--    配置数据源-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!--        连接数据库的内部信息-->
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver"></property>
        <property name="jdbcUrl"
                  value="jdbc:mysql://127.0.0.1:3306/eesy?useUnicode=true&amp;serverTimezone=UTC&amp;characterEncoding=utf8">
        </property>
        <property name="user" value="zzq"></property>
        <property name="password" value="zambia520"></property>
    </bean>

    <bean id="connectionUtils" class="com.myj.utils.ConnectionUtils">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="txManager" class="com.myj.utils.TransactionManager">
        <property name="connectionUtils" ref="connectionUtils"></property>
    </bean>

<!--    配置aop-->
    <aop:config>
        <aop:pointcut id="pt1" expression="execution(* com.myj.service.impl.*.*(..))"></aop:pointcut>
        <aop:aspect id="txAdvice" ref="txManager">
            <aop:before method="begin" pointcut-ref="pt1"></aop:before>
            <aop:after-returning method="commit" pointcut-ref="pt1"></aop:after-returning>
            <aop:after-throwing method="rollback" pointcut-ref="pt1"></aop:after-throwing>
            <aop:after method="release" pointcut-ref="pt1"></aop:after>
        </aop:aspect>
    </aop:config>
</beans>
